body {
    font-family: "Montserrat";
    font-style: normal;
}
.navigation {
    text-align: center;
    margin:   31.5px auto;
}
.navigation ul li{
    list-style: none;
    display: inline-block;
    letter-spacing: 2.7px;
    width: 200px;
}
.navigation a{
    text-transform: uppercase;
    font-size: 18px;
    color: #FF0000;
    font-weight: bold;
    text-decoration: none;
}
article,footer {
    color: #373737;
}
.image{
   text-align: center;
}
.main-text h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-align: center;
    margin: 48px auto;
}
.main-text p{
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.4px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
p {
   padding-left:  67.5px;
   padding-right: 67.5px;
}
.button-block {
    text-align: center;
    margin: 66px auto 42px auto;
}
.button-block button{
    text-transform: uppercase;
    width: 191px;
    height: 51px;
    left: 544.5px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    border: none;
}
footer {
    height: 108px;
    text-align: right;   
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    
}
footer div{
   padding-right: 105px;
   padding-top: 40px;
}
    
